@import "variable.scss";
.brand-logo-wrapper {
  margin-bottom: 20px;
  a {
    img {
      transition: all 0.3s;
      transform: scale(1);
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
}
@media (min-width: $breakpoint-sm  + "px") {
  .brand-logo-wrapper {
    margin-bottom: 40px;
  }
}
@media (min-width: $breakpoint-md  + "px") {
  .brand-logo-wrapper {
    margin-bottom: 66px;
  }
}
@media (min-width: $breakpoint-lg  + "px") {
  .brand-logo-wrapper {
    margin-bottom: 76px;
  }
}
@media (min-width: $breakpoint-xl  + "px") {
  .brand-logo-wrapper {
    margin-bottom: 96px;
  }
}
@media (min-width: $breakpoint-xxl  + "px") {
}
